.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }