* {
  padding: 5px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.inputs {
  display: flex;
  flex-flow: row wrap;
}

.text-center {
  text-align: center;
}

.content div {
  margin-top: 10px;
}