.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 150px;
  height: 150px;
}

.center {
  text-align: center;
}

.button-large {
  font-size: 1rem;
  padding: 5px;
  background-color: green;
  color: white;
}
.button-large:hover {
  opacity: 0.7;
  cursor: pointer;
}

big {
  color:  green;
}